# sandboxing folder
tmp/

# Airflow logs
/logs/*
!/logs/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# PyCharm and VirtualEnv
.idea
.venv
.vscode

#Ipython Notebook
.ipynb_checkpoints

# Local files
.DS_Store
*.swp

# GitBook files
_book/

/data
node_modules/
